# Dependencies
node_modules/
.pnp/
.pnp.js

# Environment files - NIKAD ne komituj!
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# Build outputs
.next/
out/
build/
dist/
.expo/
web-build/

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea/
*.swp
*.swo
.vscode/
*.sublime-workspace

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Testing
coverage/

# Misc
*.pem
*.log

# Expo
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Metro
.metro-health-check*

# Turborepo
.turbo
